@use '@carbon/layout';
@use '@carbon/colors';

.navigationContainer {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
  padding-top: layout.$spacing-06;
  border-top: 1px solid colors.$gray-20;
}

.progressInfo {
  display: flex;
  justify-content: center;
  color: colors.$gray-70;
  font-size: 0.875rem;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: layout.$spacing-03;
}

@media (max-width: 500px) {
  .navigationButtons {
    flex-direction: column;
    align-content: center;
  }
}
